/* .featureOfTheWeekTitle:before {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background: #000000;
  left: 0;
  top: 45%;
  position: absolute;
  opacity: 0.3;
}

.featureOfTheWeekTitle:after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background: #000000;
  right: 0;
  top: 45%;
  opacity: 0.3;

  position: absolute;
} */

.feature-of-theweek-col {
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

.feature-of-the-week-title {
  font-size: 27px;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

.feature-of-the-week-content {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 250px;
}

.feature-Button {
  justify-content: center;
  margin-bottom: 30px;
}

.feature-Button > div > .btn {
  padding: 1.4rem;
  padding-right: 6rem;
  padding-left: 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #000000;
  border-radius: 50px;
}

.feature-of-theweek-col > .row > img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.feature-of-theweek-col > .row > img {
  padding-top: 3px;
  transition: all 0.2s ease-in-out;
}

.fit-on-rotation-coll {
  display: flex;
  justify-content: center;
}
